/*Box-sizing*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*header */

body {
	background: url('../images/up-the-stairs_unsplash.jpg');
	/*background-color: #fff;
	background-image: linear-gradient(90deg, transparent 50%, rgba(63, 214, 219, .2) 50%);*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 38rem;
}	

.container {
	background-color: #fff;
	width: 400px;
	height: 500px;
	margin-top: 70px;
	margin-left: 100px;
	border-radius: 15px;
}

.masthead {
	/*background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));*/
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.masthead h1 {
	font-size: 3rem;
	color: #494949;
	padding-top: 40px;
}

.masthead h3 {
	font-weight: lighter;
	font-size: 1.1rem;
	line-height: 70px;
	color: #e5e5e5;
	margin: auto;
	margin-bottom: 50px;
	border-bottom: 2px dotted #e5e5e5;
	width: 50%;
}

div.list {
	position: relative;
	z-index: 10;
	max-width: 400px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
	padding: 0 auto;
}

/* Adding an item - List input */

input.new-item {
	width: 320px;
	height: 35px;
	border: 2px solid #e5e5e5;
	background-color: #e5e5e5;
	border-radius: 25px;
	padding: 5px 10px;
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	color: #494949;
}

/* List items */

ul.list-items {
	width: 320px;
	position: relative;
	list-style-type: none;
}

li.pending, li.done {
	width: 320px;
	height: 35px;
	vertical-align: baseline;
	font-weight: bolder;
	text-align: left;
	text-indent: 10px;
	border-bottom: 1px solid #e5e5e5;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	color: #494949;
	margin-bottom: 4px;
}

/*pending item*/

.tick {
	color: #19aa73;
	float: right;
	font-size: 1.3em;
	transform: scaleX(-1) rotate(-45deg);
	cursor: pointer;
}

/*crossed off item*/

li.done {
	color: #999999;
	text-decoration: line-through;
}

.delete {
	color: #db2020;
	float: right;
	font-size: 1.6em;
	cursor: pointer;
	transform: rotate(-45deg);
	margin-right: 8px;
	margin-bottom: 10px;
}

/*End of list items*/

footer {
	clear: both;
	padding: 3rem;
	width: 100%;
}
